header{
	/*position: relative;*/
	height: 100px;
	display: flex;
	background: lemonchiffon;
	opacity: 0.5;
	position: sticky;


}
ul{
	display: flex;
	list-style: none;
	align-items: center;
}
li{
	position: relative;
	padding: 20px;
}
a{text-decoration: none;}
header:before{
             content: "";
             background-image: url(back.jpg);
             background-repeat: no-repeat;
             background-size: 100%;
             background-position: center;
             height: 100%;
             width: 100%;
             position: absolute;
             z-index: -1;
             opacity: 0.5;	
}
h1{
	text-align: center;
	margin-top: 80px;
}
p{
	margin-left: 100px;
	margin-right: 100px;
}
a:hover{
	background: red;
	color: white;
}
button{
	padding: 6px 20px;
	border: 1px solid black;
	background: red;
	border-radius: 15%;
	margin: 7px;
	cursor: pointer;
	margin-right: 500px;
	margin-left: 500px;


}