
body{
    background: blue;
}

.calculator{
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    overflow: hidden;    
}
.screen{
    background-color: white;
    width: 100%;
    min-height: 100px;
    text-align: right;
    font-size: 20px;
}
.screen span{
    float: left;
    font-size: 15px;
}
.cal-buttons{
    background: black;
    padding: 15px;
}
#buttons{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#buttons li{
    font-size: 25px;
    color: white;
    background: black;
    width: 20%;
    margin:5px;
    padding-top: 10px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}
